@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

:root {
    --main-bg-gradient: linear-gradient(180.00deg, rgba(116, 33, 176, 1),rgba(207.74, 142.38, 255, 1) 100%);
}

* {
    font-family: "Rubik", sans-serif;
}

body {
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
}

.container-section {
    max-width: 1490px;
    padding: 0 15px;
}

@theme {
    --breakpoint-nav-xxl: 1075px;
    --breakpoint-nav-xl: 768px;

    --breakpoint-hero-xxl: 1600px;
    --breakpoint-hero-xl: 1200px;
    --breakpoint-hero-md: 760px;
    --breakpoint-hero-sm: 465px;
    



    --background-image-main-gradient: linear-gradient(180.00deg, rgba(116, 33, 176, 1), rgba(207.74, 142.38, 255, 1) 100%);
    --background-image-sectione-gradient: linear-gradient(90deg, rgba(255, 89.25, 247.71, 0.04),rgba(173.59, 113.69, 255, 0.04) 20%,rgba(144, 233, 237, 0.04) 41%,rgba(92, 209, 103, 0.04) 62%,rgba(255, 237.61, 0, 0.04) 83%);

}